*{
    color: white;
}
h1{
    background: grey;
}

#start{
    color: lightgreen;
    background: black;
    float: left;
    margin: 20px 20px 20px 20px;
}

#stop{
    color: red;
    background: black;
    right: 0;
    margin: 20px 20px 20px 20px;
}

body {
    background-image: url(../images/4-4.png);
}